@font-face {
  font-family: "Font";
  src: url("./JetBrains.ttf");
}

body {
  display: flex;
  color: #dcc6a0;
  background: #433055;
  font-family: Font;
  align-items: center; 
  justify-content: center; 
  height: 100vh; 
  margin: 0; 
}

nav {
  text-align: center; 
  padding: 2em; 
  background: rgba(67, 48, 85, 0.8); 
  border-radius: 15px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}

h1 {
  font-size: 2.5em;
  font-weight: 600;
  margin-bottom: 2em;
  color: #edc9af; 
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.playlist-container {
  margin: 1em 0; 
  width: 60%; /* Wider playlists */
  max-width: 600px; /* Increased max-width */
  margin-left: auto; 
  margin-right: auto; 
  animation: subtleScale 4s infinite alternate; /* Added animation */
}

.playlist-container iframe {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}

.home-link {
  margin-top: 2em; 
}

.home-link a {
  color: #dcc6a0;
  font-size: 1.2em;
  text-decoration: none;
  padding: 0.8em 1.5em;
  border: 2px solid #dcc6a0; 
  border-radius: 20px; 
  transition: all 0.3s ease; 
}

.home-link a:hover {
  background-color: #dcc6a0; 
  color: #433055; 
}

/* Animations */
.animate-glow {
  animation: glow 2s infinite alternate; /* Added glow animation to title */
}

@keyframes glow {
  from { text-shadow: 0 0 10px #edc9af; } /* Adjust glow color */
  to { text-shadow: 0 0 20px #edc9af; } /* Adjust glow color */
}

@keyframes subtleScale {
  from { transform: scale(1); }
  to { transform: scale(1.02); } /* Subtle scaling effect */
}